html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1600px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BC4531;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -99px;
}

#pu70
{
	width: 0.01px;
	position: relative;
}

#u70
{
	z-index: 3;
	width: 1600px;
	margin-right: -1600px;
}

#u75
{
	z-index: 5;
	width: 232px;
	margin-right: -232px;
	left: 684px;
}

#u85
{
	z-index: 7;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 62px;
	left: 445px;
}

#u85.MuseLinkActive
{
	margin: 62px -306px 0px 0px;
}

#u109
{
	z-index: 8;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 128px;
	left: 632px;
}

#u109.MuseLinkActive
{
	margin: 128px -306px 0px 0px;
}

#u121
{
	z-index: 9;
	width: 260px;
	margin-right: -260px;
	left: 983px;
}

#u97
{
	z-index: 11;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 74px;
	left: 846px;
}

#u97.MuseLinkActive
{
	margin: 74px -306px 0px 0px;
}

#ppu207
{
	width: 0.01px;
	position: relative;
	margin-right: -898px;
	margin-top: 261px;
	left: 398px;
}

#pu207
{
	z-index: 87;
	width: 0.01px;
	margin-left: 469px;
	margin-top: 958px;
	position: relative;
}

#pu207_position_content
{
	position: relative;
}

#u207
{
	z-index: 87;
	width: 305px;
	height: 232px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#pu207_position_inner_content
{
	pointer-events: none;
	padding-bottom: 29px;
}

#pu208-17
{
	width: 0.01px;
	position: relative;
	left: -281px;
	top: 35px;
	pointer-events: auto;
}

#u208-17
{
	z-index: 88;
	width: 258px;
	min-height: 160px;
	text-align: left;
	position: relative;
	margin-right: -258px;
}

#pu243
{
	width: 0.01px;
	margin-left: 175px;
	top: -1190px;
	margin-bottom: -347px;
	position: relative;
}

#u243
{
	z-index: 165;
	width: 306px;
	position: relative;
	margin-right: -306px;
	left: 417px;
}

#u133
{
	z-index: 167;
	width: 481px;
	min-height: 275px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -481px;
	margin-top: 68px;
}

#u132-6
{
	z-index: 26;
	width: 463px;
	min-height: 60px;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	margin-left: 184px;
	top: -824px;
	margin-bottom: -60px;
	position: relative;
}

#pu135
{
	width: 0.01px;
	margin-left: 15px;
	top: -743px;
	margin-bottom: -305px;
	position: relative;
}

#u135
{
	z-index: 32;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 38px;
	position: relative;
	margin-right: -800px;
}

#u183-19
{
	z-index: 35;
	width: 281px;
	min-height: 223px;
	text-align: left;
	position: relative;
	margin-right: -281px;
	margin-top: 33px;
	left: 485px;
}

#u183-3
{
	font-size: 18px;
	font-weight: normal;
}

#u208-2,#u208-3,#u208-12,#u208-13,#u208-15,#u183-13,#u183-17
{
	font-size: 14px;
	font-weight: normal;
}

#u184
{
	z-index: 73;
	width: 500px;
	position: relative;
	margin-right: -500px;
}

#pu137
{
	width: 0.01px;
	top: -428px;
	margin-bottom: -428px;
	position: relative;
}

#u137
{
	z-index: 33;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -800px;
	left: 15px;
	padding: 32px 249px 286.4499999999998px 42px;
}

#u205-4
{
	z-index: 54;
	width: 165px;
	min-height: 23px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-left: 262px;
	position: relative;
}

#u204-11
{
	z-index: 58;
	width: 509px;
	min-height: 100px;
	font-size: 14px;
	text-align: left;
	margin-top: 21px;
	position: relative;
}

#u183-6,#u204-4,#u204-5,#u204-7
{
	font-weight: normal;
}

#u199
{
	z-index: 75;
	width: 824px;
	position: relative;
	margin-right: -824px;
	margin-top: 162px;
}

#u189
{
	z-index: 77;
	width: 238px;
	position: relative;
	margin-right: -238px;
	margin-top: 18px;
	left: 560px;
}

#pu139
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 3px;
	position: relative;
}

#u139
{
	z-index: 23;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -800px;
}

#u139_position_content
{
	margin-top: 39px;
	margin-bottom: -43px;
}

#u206-4
{
	z-index: 79;
	width: 165px;
	min-height: 23px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-left: 304px;
	position: relative;
}

#u210-4
{
	z-index: 69;
	width: 717px;
	min-height: 52px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	margin-left: 42px;
	margin-top: 14px;
	position: relative;
}

#u225
{
	z-index: 24;
	width: 800px;
	margin-top: 505px;
	position: relative;
}

#u224-4
{
	z-index: 83;
	width: 165px;
	min-height: 23px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -165px;
	margin-top: 674px;
	left: 304px;
}

#u211
{
	z-index: 105;
	width: 800px;
	position: relative;
	margin-right: -800px;
	margin-top: 62px;
}

#u216-8
{
	z-index: 107;
	width: 161px;
	min-height: 146px;
	line-height: 1.4;
	position: relative;
	margin-right: -161px;
	margin-top: 398px;
	left: 42px;
}

#u218-8
{
	z-index: 115;
	width: 161px;
	min-height: 146px;
	line-height: 1.4;
	position: relative;
	margin-right: -161px;
	margin-top: 398px;
	left: 223px;
}

#u220-7
{
	z-index: 123;
	width: 161px;
	min-height: 146px;
	line-height: 1.4;
	position: relative;
	margin-right: -161px;
	margin-top: 398px;
	left: 406px;
}

#u222-14
{
	z-index: 145;
	width: 161px;
	min-height: 146px;
	line-height: 1.4;
	position: relative;
	margin-right: -161px;
	margin-top: 398px;
	left: 590px;
}

#u183-2,#u216-2,#u218-2,#u220-2,#u222-2
{
	font-size: 18px;
	font-weight: bold;
}

#u218-4,#u222-4
{
	font-size: 12px;
	font-weight: bold;
}

#u216-4,#u216-6,#u218-6,#u220-5,#u222-6,#u222-8,#u222-10,#u222-12
{
	font-size: 12px;
}

#u141
{
	z-index: 34;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 27px;
	margin-left: 15px;
	margin-top: 15px;
	position: relative;
}

#u238
{
	z-index: 163;
	width: 196px;
	position: relative;
	margin-right: -196px;
	margin-top: 55px;
	left: 55px;
}

#u243_img,#u184_img,#u199_img,#u189_img,#u225_img,#u211_img,#u238_img
{
	vertical-align: top;
}

#pu237-4
{
	width: 0.01px;
	position: relative;
	margin-right: -454px;
	margin-top: 29px;
	left: 304px;
}

#u237-4
{
	z-index: 159;
	width: 165px;
	min-height: 23px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}

#u236-15
{
	z-index: 130;
	width: 448px;
	min-height: 255px;
	line-height: 1.4;
	font-size: 14px;
	margin-left: 6px;
	margin-top: 19px;
	position: relative;
}

#u208-5,#u208-10,#u183-5,#u183-7,#u183-9,#u183-11,#u183-15,#u204-2,#u204-9,#u216-3,#u220-3,#u236-4,#u236-6,#u236-11
{
	font-weight: bold;
}

#master-footer
{
	width: 0.01px;
	left: -2px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u163
{
	z-index: 13;
	width: 1602px;
	margin-right: -1602px;
}

#u147
{
	z-index: 14;
	width: 1602px;
	padding-bottom: 14px;
	margin-right: -1602px;
	margin-top: 290px;
}

#u148
{
	z-index: 15;
	width: 411px;
	margin-right: -411px;
	margin-top: -38px;
	left: 786px;
}

#u142
{
	z-index: 17;
	width: 1602px;
	height: 40px;
	margin-right: -1602px;
	margin-top: 250px;
}

#u153
{
	z-index: 18;
	width: 411px;
	margin-right: -411px;
	margin-top: 281px;
	left: 406px;
}

#u158
{
	z-index: 20;
	width: 569px;
	margin-right: -569px;
	left: 517px;
}

body
{
	/*padding-top: 35px;
	padding-bottom: 36px;*/
}

