html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1600px;
	min-height: 499.5999999999999px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BC4531;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -99px;
}

#pu70
{
	width: 0.01px;
	position: relative;
}

#u70
{
	z-index: 3;
	width: 1600px;
	margin-right: -1600px;
}

#u75
{
	z-index: 5;
	width: 232px;
	margin-right: -232px;
	left: 684px;
}

#u85
{
	z-index: 7;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 62px;
	left: 445px;
}

#u85.MuseLinkActive
{
	margin: 62px -306px 0px 0px;
}

#u109
{
	z-index: 8;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 128px;
	left: 632px;
}

#u109.MuseLinkActive
{
	margin: 128px -306px 0px 0px;
}

#u121
{
	z-index: 9;
	width: 260px;
	margin-right: -260px;
	left: 983px;
}

#u97
{
	z-index: 11;
	width: 306px;
	height: 225px;
	margin-right: -306px;
	margin-top: 74px;
	left: 846px;
}

#u97.MuseLinkActive
{
	margin: 74px -306px 0px 0px;
}

#u165
{
	z-index: 23;
	width: 735px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -800px;
	margin-top: 328px;
	left: 400px;
	padding: 34px 33px 55px 32px;
}

#u176
{
	z-index: 24;
	width: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #BC4437;
	position: relative;
	padding: 31px 43px 42px 162px;
}

#u250-4
{
	z-index: 62;
	width: 181px;
	min-height: 40px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	margin-left: 103px;
	position: relative;
}

#u177
{
	z-index: 26;
	width: 530px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-top: 301px;
	position: relative;
}

#u180
{
	z-index: 25;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: #BC4437;
	margin-top: 91px;
	position: relative;
}

#u171
{
	z-index: 29;
	width: 306px;
	margin-bottom: -39px;
	position: relative;
	margin-right: -306px;
	margin-top: -46px;
	left: 443px;
}

#u166
{
	z-index: 27;
	width: 306px;
	position: relative;
	margin-right: -306px;
	margin-top: 567px;
	left: 438px;
}

#u171_img,#u166_img
{
	vertical-align: top;
}

#u178-13
{
	z-index: 31;
	width: 301px;
	min-height: 112px;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -301px;
	margin-top: 766px;
	left: 709px;
}

#u178-2,#u178-5,#u178-10
{
	font-weight: bold;
}

#u181-14
{
	z-index: 44;
	width: 301px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
	font-weight: bold;
	position: relative;
	margin-right: -301px;
	margin-top: 1048px;
	left: 593px;
}

#u182-4
{
	z-index: 58;
	width: 181px;
	min-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -181px;
	margin-top: 987px;
	left: 722px;
}

#master-footer
{
	width: 0.01px;
	left: -2px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u163
{
	z-index: 13;
	width: 1602px;
	margin-right: -1602px;
}

#u147
{
	z-index: 14;
	width: 1602px;
	padding-bottom: 14px;
	margin-right: -1602px;
	margin-top: 290px;
}

#u148
{
	z-index: 15;
	width: 411px;
	margin-right: -411px;
	margin-top: -38px;
	left: 786px;
}

#u142
{
	z-index: 17;
	width: 1602px;
	height: 40px;
	margin-right: -1602px;
	margin-top: 250px;
}

#u153
{
	z-index: 18;
	width: 411px;
	margin-right: -411px;
	margin-top: 281px;
	left: 406px;
}

#u158
{
	z-index: 20;
	width: 569px;
	margin-right: -569px;
	left: 517px;
}

body
{
	/*padding-top: 35px;
	padding-bottom: 36px;*/
}

